*.pyc
__pycache__/
.ipynb_checkpoints/
*.fasta
*.fastq
*.bam
*.sam
*.bed
*.cfg
*.ini
.env
output/
logs/
results/
.DS_Store
Thumbs.db
*.Rhistory
*.RData
*.pdf
*.docx
src/archive/
data/
parse_annotations.py
archive/
.gitignore
replace_contrib_slim.py